*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Manrope', sans-serif;
    
}

header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 190px;
    margin-right: 190px;
    height: 63px;
    max-height: 63px;
    
}

.header-left{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 30px;
    font-size: 1.3em;
    margin-left: 20px;
    
}
.fa-bars,
.img-nav,
.header-left hr,
.fa-xmark{
    display: none;
}


.header-right{
    display: flex;
    gap: 20px;
    align-items: center;
}

.fa-magnifying-glass{
    font-size:1.7em ;
}

.nav-profil{
    display: flex;
    align-items: center;
    gap: 15px;
    border: solid 1px;
    border-radius: 25px;
    padding: 3px;
    
}

.nav-profil p {
    border: solid 1px;
    border-radius: 32px;
    padding: 8px 10px;
    background-color: RGB(26, 66, 126);
    color: white;
}

.nav-profil a {
    margin-right: 10px;
}

.header-right a{
    color: black;
}


/* SECTION SUB */

#subscrib-all{
    background-color: RGB(255, 250, 239);
    display: flex;
    justify-content: space-between;
    border-top: solid 1px rgb(208, 207, 207); 
    
    
    
}

.subscrib-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 50px;
    margin-left: 197px;
    gap: 30px;
}

.subscrib-left h1{
    font-size: 3em;
    
    
}

.subscrib-left p {
    font-size: 1.2em;
    line-height: 25px;   
}

.button-sub a{
    font-size: 1.2em;
    border: solid 1px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    
}

.button-sub .demarrer{
    background-color: RGB(116, 80, 235);

}

.button-sub .decouvrir{
    color: RGB(116, 80, 235);
    margin-left: 10px;
    transition: 0.5s;
    
}

.button-sub .decouvrir:hover{
    background-color: rgba(116, 80, 235, 0.2);
    
}



.subscrib-right{
    width: 40%;
    margin-right: 195px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.subscrib-right figure{
    max-width:  570px;

}
.subscrib-right img{
    width: 100%;
    
}

/* SECTION SAVOIR FAIRE */

#section-savoir-faire{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;    
}

.top-savoir-faire {
    margin-bottom: 50px;
    margin-top: 60px;
}

.top-savoir-faire h2{
    font-size: 1.5em;
    margin-bottom: 20px;
}



.bottom-savoir-faire{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.bottom-savoir-faire h3{
    line-height: 30px;
    font-size: 1.5em;
    margin-bottom: 15px;
    
}

.bottom-savoir-faire p{
    line-height: 25px;
    font-size: 1.2em;
    margin-bottom: 60px;
    
}

.all-savoir-faire{
    width: 400px;
}

/* SECTION ALTERNANCE */

#section-alternance {
    background-color: RGB(255, 250, 239);
    width: 100%;
    padding: 60px 0 ;
    
    
}

#section-alternance i {
    font-size: 50px;
    color: RGB(176, 162, 239);
    
}

#section-alternance h2{
    margin: 0 190px;
    background-color: RGB(255, 250, 239);
    font-size: 2em;
    margin-bottom: 40px;
    
    
}

#section-alternance hr{
    margin-left:100px;
}

#section-alternance p,
#section-alternance h3,
#section-alternance i{
    margin-bottom: 20px; 
}

#section-alternance p{
    line-height: 25px;
}

#section-alternance a{

    border: solid 1px RGB(117, 80, 235);
    padding: 9px 25px;
    border-radius: 5px;
    color: RGB(117, 80, 235);
    font-weight: bold;
    transition: 0.5s;
}

#section-alternance a:hover{
    background-color: rgba(116, 80, 235, 0.2);
    
}

.div-alternance{
    display: flex;
    margin: 0 190px;
}

.div-alternance hr{
    color: #fff;
}

.alternance-employeurs{
    margin-left: 100px;
}

/* SECTION INSCRIPTION */

.container-inscription{
    margin: 0 190px;
    display: flex;
    padding: 60px 0 ;
    gap: 100px;

}

.container-inscription h2{
    font-size: 2em;
    margin-bottom: 40px;
}

.container-inscription p{
    line-height: 25px;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.container-inscription a{

    border: solid 1px RGB(117, 80, 235);
    padding: 9px 25px;
    border-radius: 5px;
    color: RGB(117, 80, 235);
    font-weight: bold;
    background-color: RGB(116, 80, 235);
    color: white;
}

/* DIV SLIDER */

#section-slider{
    width: 100%;
    position: relative;
    
}

.all-slider{
    width: 100%;
    display: flex;
    overflow: hidden;
    /* position: relative; */
    scroll-behavior: smooth;
}

.button-slider {
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    display: flex;
    gap: 100%;
    
}

.button-slider:hover{
    cursor: pointer;
}

.div-slider1,
.div-slider2,
.div-slider3{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.div-slider1{
    background-color: RGB(153, 171, 247) ;
}

.div-slider2{
    background-color: RGB(246, 233, 30);
}

.div-slider3{
    background-color: RGB(255, 173, 17);
}

.div-slider1,
.div-slider2,
.div-slider3{
    min-width: 100%;
}

.slider1,
.slider2,
.slider3{
    display: flex;
    align-items: center;
    width: 80%;
    gap: 2rem;
    
    
    
}

.title-slider{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

#section-slider h3{
    font-size: 1.5em;
}

#section-slider h3,
.slider-name,
.slider-work {
    font-weight: bold;
}

.fa-quote-left {
    font-size: 80px;
}

.slider-work{
    margin-bottom: 20px;
}

/* FOOTER */




footer{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr ;
    margin: 0 190px;
    margin-bottom: 50px;
    font-weight: bold;
    
}
.footer-column,
.footer-more-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 0.9em ;
    margin-top: 20px;
    
}

.footer-more-info-title{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.div-help{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-size: 20px;
    gap: 20px;
    
}

.div-app {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}

.div-app-top{
    display: flex;
    align-items: center;
    gap: 10px;

}

.div-app-reseaux {
    display: flex;
    font-size: 30px;
    gap: 10px;
    
}

.div-app-reseaux i{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    border-radius: 100%;
    padding: 10px;
    width: 30px;
    color: black;
    transition: 0.3s;
}

footer img{
    width: 150px;
} 

.fa-facebook-f:hover{
    background-color:RGB(10, 128, 236) ;
    color: white;
    border: solid 1px white;
}

.fa-x-twitter:hover{
    background-color: black;
    color: white;
    border: solid 1px white;
    
}
.fa-linkedin:hover{
    background-color:RGB(11, 102, 194) ; 
    color: white;
    border: solid 1px white;
}
.fa-instagram:hover{
    background: linear-gradient(45deg, #e9df50, #bc2a8d);
    color: white;
    border: solid 1px white;
}


.fa-youtube:hover{
    background-color:RGB(255, 0, 0) ;
    color: white;
    border: solid 1px white;
    
}

/* RESPONSIV */

@media screen and (max-width: 1560px){
    header,
    .subscrib-right,
    .subscrib-left,
    .div-alternance,
    #section-alternance h2,
    .container-inscription,
    footer{
        margin-left: 40px ;
        margin-right:40px ;
    }

}

@media screen and (max-width: 1280px){
    #subscrib-all h1{
        font-size: 1.6em;

    }

}

@media screen and (max-width: 1110px){
    #subscrib-all{
        flex-direction: column;
        padding-top: 20px;
        gap: 20px;
    }

    .subscrib-left,
    .subscrib-right{
        width: 90%;
        
    }

    nav ul{
        flex-direction: column;
        position: absolute;
        background-color: white;
        height: 100%;
        width: 400px;
        top: 0;
        left: -500px;
        margin-left: 0;
        padding-left: 20px; 
    }

    .fa-bars,
    .fa-xmark{
        display: block;
    }

    .fa-xmark{
        position: absolute;
        bottom: 50px;
        right: 50%;
        border: solid;
        width: 20px;
        display: flex;
        border-radius: 20px;
        justify-content: center;
        color: black;
    }

    .ul-burger.open{
        left: 5px;
        gap: 30px;
    }

    .img-nav{
        display: block;
        padding-top: 20px;
    }
    .header-left hr{
        display: block;
        border: solid 1px rgb(207, 204, 204);
        
    }

}


